<div class="page-header">
  <div class="container-fluid">
    <h2 class="h5 no-margin-bottom">PBI {{id}}</h2>
  </div>
</div>
<section class="no-padding-top no-padding-bottom">
  <div class="container-fluid">
    <div class="row d-flex align-items-stretch">
      <div class="col-12">
        <div class="block">
          <div class="text">
            <h2>User registration</h2>
            <p>In this PBI we allow users to register and become a member. This also involves mailing
              a confirmation email and confirming the account prior to log-in.
            </p>
            <p class="text-primary">
              <a href="http://link-to-pbi">More information</a>
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="margin-bottom-sm">
  <div class="container-fluid">
    <div class="row d-flex align-items-stretch">
      <div class="col-12 col-xl-6">
        <div class="block">
          <div class="title">
            <strong class="d-block">You</strong>
            <span class="d-block">How do you rate this pack of work?</span>
          </div>
          <div class="row d-flex justify-content-between">
            <div class="col-12">
              <ng-scrollbar [trackX]="true" class="scrolling-wrapper">
                <div class="card">
                  <div class="name text-center">
                    <div class="text">Don't know</div>
                  </div>
                  <div class="card-container dark">
                    <img src="/assets/images/cards/unknown.svg" class="poker-card">
                  </div>
                </div>
                <div class="card">
                  <div class="name text-center">
                    <div class="text">One</div>
                  </div>
                  <div class="card-container dark">
                    <img src="/assets/images/cards/1.svg" class="poker-card">
                  </div>
                </div>
                <div class="card">
                  <div class="name text-center">
                    <div class="text">Two</div>
                  </div>
                  <div class="card-container dark">
                    <img src="/assets/images/cards/2.svg" class="poker-card">
                  </div>
                </div>
                <div class="card">
                  <div class="name text-center">
                    <div class="text">Three</div>
                  </div>
                  <div class="card-container dark">
                    <img src="/assets/images/cards/3.svg" class="poker-card">
                  </div>
                </div>
                <div class="card">
                  <div class="name text-center">
                    <div class="text">Five</div>
                  </div>
                  <div class="card-container dark">
                    <img src="/assets/images/cards/5.svg" class="poker-card">
                  </div>
                </div>
                <div class="card">
                  <div class="name text-center">
                    <div class="text">Eight</div>
                  </div>
                  <div class="card-container dark">
                    <img src="/assets/images/cards/8.svg" class="poker-card">
                  </div>
                </div>
                <div class="card">
                  <div class="name text-center">
                    <div class="text">Thirteen</div>
                  </div>
                  <div class="card-container dark">
                    <img src="/assets/images/cards/13.svg" class="poker-card">
                  </div>
                </div>
                <div class="card">
                  <div class="name text-center">
                    <div class="text">Twenty</div>
                  </div>
                  <div class="card-container dark">
                    <img src="/assets/images/cards/20.svg" class="poker-card">
                  </div>
                </div>
                <div class="card">
                  <div class="name text-center">
                    <div class="text">Fourty</div>
                  </div>
                  <div class="card-container dark">
                    <img src="/assets/images/cards/40.svg" class="poker-card">
                  </div>
                </div>
                <div class="card">
                  <div class="name text-center">
                    <div class="text">One hundred</div>
                  </div>
                  <div class="card-container dark">
                    <img src="/assets/images/cards/100.svg" class="poker-card">
                  </div>
                </div>
                <div class="card">
                  <div class="name text-center">
                    <div class="text">Infinite</div>
                  </div>
                  <div class="card-container dark">
                    <img src="/assets/images/cards/infinite.svg" class="poker-card">
                  </div>
                </div>
              </ng-scrollbar>
            </div>
          </div>
        </div>
      </div>
      <div class="col-12 col-xl-6">
        <div class="block">
          <div class="title">
            <strong class="d-block">Your team</strong>
            <span class="d-block">How do your team members think about it..</span>
          </div>
          <div class="row d-flex justify-content-between">
            <div class="col-12">
              <ng-scrollbar [trackX]="true" class="scrolling-wrapper">
                <div class="card">
                  <div class="name text-center">
                    <div class="text">Henry</div>
                  </div>
                  <div class="card-container dark">
                    <img src="/assets/images/cards/back.svg" class="poker-card">
                  </div>
                </div>
                <div class="card">
                  <div class="name text-center">
                    <div class="text">Henry</div>
                  </div>
                  <div class="card-container">
                    <img src="/assets/images/cards/back.svg" class="poker-card">
                  </div>
                </div>
                <div class="card">
                  <div class="name text-center">
                    <div class="text">Henry</div>
                  </div>
                  <div class="card-container">
                    <img src="/assets/images/cards/back.svg" class="poker-card">
                  </div>
                </div>
                <div class="card">
                  <div class="name text-center">
                    <div class="text">Henry</div>
                  </div>
                  <div class="card-container">
                    <img src="/assets/images/cards/back.svg" class="poker-card">
                  </div>
                </div>
                <div class="card">
                  <div class="name text-center">
                    <div class="text">Henry</div>
                  </div>
                  <div class="card-container">
                    <img src="/assets/images/cards/back.svg" class="poker-card">
                  </div>
                </div>
                <div class="card">
                  <div class="name text-center">
                    <div class="text">Henry</div>
                  </div>
                  <div class="card-container">
                    <img src="/assets/images/cards/back.svg" class="poker-card">
                  </div>
                </div>
              </ng-scrollbar>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="margin-bottom-sm">
  <div class="container-fluid">
    <div class="row d-flex align-items-stretch">
      <div class="col-lg-4">
        <div class="stats-with-chart-1 block">
          <div class="title"> <strong class="d-block">Sales Difference</strong><span class="d-block">Lorem ipsum dolor
              sit</span></div>
          <div class="row d-flex align-items-end justify-content-between">
            <div class="col-5">
              <div class="text"><strong class="d-block dashtext-3">$740</strong><span class="d-block">May 2017</span><small
                  class="d-block">320 Sales</small></div>
            </div>
            <div class="col-7">
              <div class="bar-chart chart">
                <canvas id="salesBarChart1"></canvas>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-4">
        <div class="stats-with-chart-1 block">
          <div class="title"> <strong class="d-block">Visit Statistics</strong><span class="d-block">Lorem ipsum dolor
              sit</span></div>
          <div class="row d-flex align-items-end justify-content-between">
            <div class="col-4">
              <div class="text"><strong class="d-block dashtext-1">$457</strong><span class="d-block">May 2017</span><small
                  class="d-block">210 Sales</small></div>
            </div>
            <div class="col-8">
              <div class="bar-chart chart">
                <canvas id="visitPieChart"></canvas>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-4">
        <div class="stats-with-chart-1 block">
          <div class="title"> <strong class="d-block">Sales Activities</strong><span class="d-block">Lorem ipsum dolor
              sit</span></div>
          <div class="row d-flex align-items-end justify-content-between">
            <div class="col-5">
              <div class="text"><strong class="d-block dashtext-2">80%</strong><span class="d-block">May 2017</span><small
                  class="d-block">+35 Sales</small></div>
            </div>
            <div class="col-7">
              <div class="bar-chart chart">
                <canvas id="salesBarChart2"></canvas>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>