<div class="page-header">
  <div class="container-fluid">
    <h2 class="h5 no-margin-bottom" *ngIf="!pokerSession">Planning Poker</h2>
    <h2 class="h5 no-margin-bottom" *ngIf="pokerSession">{{pokerSession.name}}
      <span class="pull-right">Code: {{pokerSession.sessionCode}}</span>
    </h2>
  </div>
</div>
<section class="no-padding-top no-padding-bottom" *ngIf="errorMessage && !isLoading">
  <div class="alert alert-danger">
    <strong>Error!</strong> {{errorMessage}}
  </div>
</section>
<app-spinner [isLoading]="isLoading"></app-spinner>
<section class="no-padding-top no-padding-bottom" *ngIf="pokerSession">
  <div class="public-user-block block">
    <div class="row d-flex align-items-center">
      <div class="col-6 col-xl-3 d-flex align-items-center">
        <div class="avatar">
          <img src="/assets/images/profile-placeholder.png" title="{{pokerSession.me.displayName}}" class="img-fluid">
        </div>
        <strong class="d-block">{{pokerSession.me.displayName}}</strong>
        <!-- <span class="d-block">@tomhecktor</span> -->
      </div>
      <div class="col-6 col-xl-3 text-center">
        <div class="contributions">Connected</div>
      </div>
      <div class="col-12 col-xl-6">
        <div class="details d-flex cards-holder">
          <div [className]="pokerSession.me.estimation === 0.5 ? 'item active' : 'item inactive'" (click)="participantEstimate(0.5)"><img
              src="/assets/images/cards/half.svg" /></div>
          <div [className]="pokerSession.me.estimation === 1 ? 'item active' : 'item inactive'" (click)="participantEstimate(1)"><img
              src="/assets/images/cards/1.svg" /></div>
          <div [className]="pokerSession.me.estimation === 2 ? 'item active' : 'item inactive'" (click)="participantEstimate(2)"><img
              src="/assets/images/cards/2.svg" /></div>
          <div [className]="pokerSession.me.estimation === 3 ? 'item active' : 'item inactive'" (click)="participantEstimate(3)"><img
              src="/assets/images/cards/3.svg" /></div>
          <div [className]="pokerSession.me.estimation === 5 ? 'item active' : 'item inactive'" (click)="participantEstimate(5)"><img
              src="/assets/images/cards/5.svg" /></div>
          <div [className]="pokerSession.me.estimation === 8 ? 'item active' : 'item inactive'" (click)="participantEstimate(8)"><img
              src="/assets/images/cards/8.svg" /></div>
          <div [className]="pokerSession.me.estimation === 13 ? 'item active' : 'item inactive'" (click)="participantEstimate(13)"><img
              src="/assets/images/cards/13.svg" /></div>
          <div [className]="pokerSession.me.estimation === 20 ? 'item active' : 'item inactive'" (click)="participantEstimate(20)"><img
              src="/assets/images/cards/20.svg" /></div>
          <div [className]="pokerSession.me.estimation === 40 ? 'item active' : 'item inactive'" (click)="participantEstimate(40)"><img
              src="/assets/images/cards/40.svg" /></div>
          <div [className]="pokerSession.me.estimation === 100 ? 'item active' : 'item inactive'" (click)="participantEstimate(100)"><img
              src="/assets/images/cards/100.svg" /></div>
        </div>
      </div>
    </div>
  </div>
  <div class="public-user-block block" *ngFor="let participant of pokerSession.others">
    <div class="row d-flex align-items-center">
      <div class="col-3 d-flex align-items-center">
        <div class="avatar">
          <img src="/assets/images/profile-placeholder.png" alt="..." class="img-fluid">
        </div>
        <strong class="d-block">{{participant.displayName}}</strong>
      </div>
      <div class="col-3 text-center">
        <div class="contributions">Connected</div>
      </div>
      <div class="col-6">
        <div class="details d-flex small-cards-holder pull-right">
          <div [className]="participant.estimation === null || participant.estimation === 'undefined' ? 'item inactive' : 'item active'">
            <img src="/assets/images/cards/back.svg" *ngIf="!isRevealed" />
            <img src="/assets/images/cards/{{getCardName(participant)}}.svg" *ngIf="isRevealed" />
          </div>
          <button class="btn btn-danger btn-sm kick-button" *ngIf="canEdit" (click)="kickParticipant(participant.id)">Kick</button>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="no-padding-top no-padding-bottom" *ngIf="pokerSession && canEdit">
  <div class="container-fluid">
    <button class="btn btn-block btn-secondary" (click)="resetRound()">Reset round</button>
  </div>
</section>

<section class="no-padding-top no-padding-bottom" *ngIf="pokerSession && showMetrics">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-3 col-sm-6">
        <div class="statistic-block block">
          <div class="progress-details d-flex align-items-end justify-content-between">
            <div class="title">
              <div class="icon"><i class="icon-user-1"></i></div><strong>Average</strong>
            </div>
            <div class="number dashtext-1">19</div>
          </div>
          <div class="progress progress-template">
            <div role="progressbar" style="width: 70%" aria-valuenow="30" aria-valuemin="0" aria-valuemax="100" class="progress-bar progress-bar-template dashbg-1"></div>
          </div>
        </div>
      </div>
      <div class="col-md-3 col-sm-6">
        <div class="statistic-block block">
          <div class="progress-details d-flex align-items-end justify-content-between">
            <div class="title">
              <div class="icon"><i class="icon-contract"></i></div><strong>Advised</strong>
            </div>
            <div class="number dashtext-2">20</div>
          </div>
          <div class="progress progress-template">
            <div role="progressbar" style="width: 70%" aria-valuenow="70" aria-valuemin="0" aria-valuemax="100" class="progress-bar progress-bar-template dashbg-2"></div>
          </div>
        </div>
      </div>
      <div class="col-md-3 col-sm-6">
        <div class="statistic-block block">
          <div class="progress-details d-flex align-items-end justify-content-between">
            <div class="title">
              <div class="icon"><i class="icon-paper-and-pencil"></i></div><strong>Lowest (Ayton, Emmerson)</strong>
            </div>
            <div class="number dashtext-3">13</div>
          </div>
          <div class="progress progress-template">
            <div role="progressbar" style="width: 55%" aria-valuenow="55" aria-valuemin="0" aria-valuemax="100" class="progress-bar progress-bar-template dashbg-3"></div>
          </div>
        </div>
      </div>
      <div class="col-md-3 col-sm-6">
        <div class="statistic-block block">
          <div class="progress-details d-flex align-items-end justify-content-between">
            <div class="title">
              <div class="icon"><i class="icon-writing-whiteboard"></i></div><strong>Highest (Tomas, Henk)</strong>
            </div>
            <div class="number dashtext-4">40</div>
          </div>
          <div class="progress progress-template">
            <div role="progressbar" style="width: 35%" aria-valuenow="35" aria-valuemin="0" aria-valuemax="100" class="progress-bar progress-bar-template dashbg-4"></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="no-padding-top no-padding-bottom" *ngIf="!pokerSession && !isLoading && !gotKicked">
  <div class="container-fluid">
    <div class="row">
      <div class="col-lg-12">
        <div class="block">
          <div class="title"><strong>There's nothing here...</strong></div>
          <div class="block-body">

          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="no-padding-top no-padding-bottom" *ngIf="!pokerSession && !isLoading && gotKicked">
  <div class="container-fluid">
    <div class="row">
      <div class="col-lg-12">
        <div class="block clearfix">
          <div class="pull-right overflow-hide ">
            <div class="fa fa-eject huge kicked-icon"></div>
          </div>
          <div class="title"><strong>You just got kicked</strong></div>
          <div class="block-body">
            Too bad mate, one of the session leaders decided to throw you out...
            <div class="text-muted">Better behave next time ;)</div>
            <a [routerLink]="['/']">Go home</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="full-page-cover" *ngIf="pokerSession && !isStarted">
  <div class="background"></div>
  <div class="foreground">
    <div class="container">
      <div class="jumbotron">
        <h3>Session not started</h3>
        <p>This poker session is live, but not started yet.
          Awaiting the session leader to start the session</p>
        <div class="middle" *ngIf="!canEdit">
          <svg width="100px" height="100px" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 100 100"
            preserveAspectRatio="xMidYMid" class="lds-double-ring">
            <circle cx="50" cy="50" r="40px" stroke-width="1px" stroke="1px" dasharray="2px" fill="none" stroke-linecap="round"
              r="40" stroke-width="1" stroke="#444444" stroke-dasharray="62.83185307179586 62.83185307179586" transform="rotate(3.87024 50 50)">
              <animateTransform attributeName="transform" type="rotate" calcMode="linear" values="0 50 50;360 50 50"
                keyTimes="0;1" dur="1.5s" begin="0s" repeatCount="indefinite"></animateTransform>
            </circle>
            <circle cx="50" cy="50" r="44px" stroke-width="1px" stroke="5px" stroke-dasharray="62.83185307179586 62.83185307179586"
              stroke-dashoffset="62.83185307179586 62.83185307179586" fill="none" stroke-linecap="round" r="38"
              stroke-width="1" stroke="#888888" stroke-dasharray="59.690260418206066 59.690260418206066"
              stroke-dashoffset="59.690260418206066" transform="rotate(-3.87024 50 50)">
              <animateTransform attributeName="transform" type="rotate" calcMode="linear" values="0 50 50;-360 50 50"
                keyTimes="0;1" dur="1.5s" begin="0s" repeatCount="indefinite"></animateTransform>
            </circle>
          </svg>
        </div>
        <div class="edit" *ngIf="canEdit">
          <h5>Good news!</h5>
          <p>You are a session leader, so you can start this session</p>
          <p>Start sharing your session with session code: {{pokerSession.sessionCode}}</p>
          <button class="btn btn-block btn-primary" (click)="startCurrentSession()">Start session</button>
        </div>
      </div>
    </div>
  </div>
</section>