button[type='submit'] {
  float: right;
}

.pbis {
  .input-group {
    margin-bottom: 1rem;
  }
  .form-group {
    margin-bottom: 1rem;
  }
  .form-block {
    margin-bottom: 1.5rem;
  }
}

.alert {
  padding: 0.25rem 0.25rem;
}
