<header class="header">
  <nav class="navbar navbar-expand-lg">
    <div class="container-fluid d-flex align-items-center justify-content-between">
      <div class="navbar-header">
        <!-- Navbar Header--><a href="/" class="navbar-brand">
          <div class="brand-text brand-big visible text-uppercase"><strong class="text-primary">Scrum</strong>Poker</div>
          <div class="brand-text brand-sm"><strong class="text-primary">S</strong><strong>P</strong></div>
        </a>
        <!-- Sidebar Toggle Btn-->
        <button class="sidebar-toggle"><i class="fa fa-arrow-circle-o-left"></i></button>
      </div>
      <div class="right-menu list-inline no-margin-bottom">
        <div class="list-inline-item dropdown">
          <a id="chatarea" href="http://example.com" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"
            class="nav-link chat-toggle">
            <i class="fa fa-comment"></i>
            <span class="badge dashbg-1">5</span>
          </a>
          <div aria-labelledby="chatarea" class="dropdown-menu chat">
            <div class="dropdown-item header">
              <h4>Chat</h4>
            </div>
            <div class="dropdown-item message align-items-center">
              <div class="content">
                <small class="date d-block">9:30am</small>
                <strong class="d-block">Nadia Halsey</strong>
                <span class="d-block">Maar serieus.... moet dit zo werken?</span>
              </div>
            </div>
            <div class="dropdown-item message align-items-center">
              <div class="content">
                <small class="date d-block">7:40am</small>
                <strong class="d-block">Peter Ramsy</strong>
                <span class="d-block">lorem ipsum dolor sit amit</span>
              </div>
              <div class="clear"></div>
            </div>
            <div class="dropdown-item message align-items-center">
              <div class="content from-me">
                <small class="date d-block">7:40am</small>
                <strong class="d-block">Peter Ramsy</strong>
                <span class="d-block">lorem ipsum dolor sit amit</span>
              </div>
            </div>
          </div>
        </div>
        <!-- Log out              
        <div class="list-inline-item logout" (click)="logout()">
          Logout <i class="fa fa-arrow-circle-o-right"></i>
        </div> -->
      </div>
    </div>
  </nav>
</header>