<header class="header">
  <nav class="navbar navbar-expand-lg">
    <div class="container-fluid d-flex align-items-center justify-content-between">
      <div class="navbar-header">
        <!-- Navbar Header--><a href="/" class="navbar-brand">
          <div class="brand-text brand-big visible text-uppercase"><strong class="text-primary">Scrum</strong>Poker</div>
          <div class="brand-text brand-sm"><strong class="text-primary">S</strong><strong>P</strong></div>
        </a>
        <!-- Sidebar Toggle Btn-->
        <button class="sidebar-toggle"><i class="fa fa-arrow-circle-o-left"></i></button>
      </div>
      <div class="right-menu list-inline no-margin-bottom">

        <!-- Log out               -->
        <div class="list-inline-item logout" (click)="logout()">
          Logout <i class="fa fa-arrow-circle-o-right"></i>
        </div>
      </div>
    </div>
  </nav>
</header>