<span class="heading">Main</span>
<ul class="list-unstyled">
  <li routerLinkActive="active"><a routerLink="home"><i class="fa fa-dashboard"></i>Home</a></li>
  <li routerLinkActive="active"><a routerLink="create"><i class="fa fa-magic"></i>Create refinement</a></li>
  <li routerLinkActive="active"><a routerLink="join"><i class="fa fa-group"></i>Join refinement</a></li>
</ul>
<span class="heading">Current refinement</span>
<ul class="list-unstyled">
  <li routerLinkActive="active"><a [routerLink]="['/pbi', 275]"><i class="fa fa-check-circle-o"></i>PBI #9827</a></li>
  <li routerLinkActive="active"><a routerLink="pbi/276"><i class="fa fa-circle-o"></i>PBI #9827</a></li>
  <li routerLinkActive="active"><a routerLink="pbi/277"><i class="fa fa-circle-o"></i>PBI #9827</a></li>
  <li routerLinkActive="active"><a routerLink="pbi/278"><i class="fa fa-circle-o"></i>PBI #9827</a></li>
  <li routerLinkActive="active"><a routerLink="pbi/279"><i class="fa fa-circle-o"></i>PBI #9827</a></li>
  <!-- <li><a href="#exampledropdownDropdown" aria-expanded="false" data-toggle="collapse"> <i class="icon-windows"></i>Example
      dropdown </a>
    <ul id="exampledropdownDropdown" class="collapse list-unstyled ">
      <li><a href="#">Page</a></li>
      <li><a href="#">Page</a></li>
      <li><a href="#">Page</a></li>
    </ul>
  </li> -->
</ul>