@import '../../../variables.scss';

.bg {
  /* The image used */
  background-image: url('/assets/images/scrum-poker.jpg');

  /* Full height */
  height: 100%;
  width: 100%;

  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

  .startpane {
    background-color: rgba(0, 0, 0, 0.75);
    border-radius: 20px;
    padding: 20px;
    color: #eee;
    text-align: center;
    h1 {
      font-weight: 200;
    }
    strong {
      font-weight: 400;
    }
    .tab-content {
      text-align: left;
    }
  }
}
.jumbotron {
  margin: 20px;
}
input.session-code {
  text-align: center;
}
.tab-pane {
  padding: 1rem;
  border: none;
}
.nav-tabs {
  border-bottom: none;
}
.nav-tabs {
  .nav-item {
    a {
      color: $gray-500;
    }
    a:hover {
      color: $white;
    }
    a.active {
      color: $primary;
    }
  }
  .nav-item:hover {
    border-color: $primary;
  }
  .nav-link {
    border: none;
  }
  .nav-link.active {
    background-color: transparent;
    border: none;
  }
}
