<div class="page-header">
  <div class="container-fluid">
    <h2 class="h5 no-margin-bottom">Create</h2>
  </div>
</div>
<section class="no-padding-top no-padding-bottom">
  <div class="container-fluid">

    <div class="row">
      <!-- Basic Form-->
      <div class="col-lg-6 col-sm-12">
        <div class="block">
          <div class="title">
            <strong class="d-block">Refinement details</strong>
            <span class="d-block">Enter the basic details of your refinement here</span></div>
          <div class="block-body">
            <div class="form-group">
              <input type="text" placeholder="Title" class="form-control">
            </div>
            <div class="form-group">
              <div class="input-group">
                <input type="email" placeholder="Invitee #01 email" class="form-control">
                <div class="input-group-append">
                  <button type="button" class="btn btn-secondary" title="Delete invitee"><i class="fa fa-close"></i></button>
                </div>
              </div>
            </div>
            <div class="form-group">
              <div class="input-group">
                <input type="email" placeholder="Invitee #01 email" class="form-control">
                <div class="input-group-append">
                  <button type="button" class="btn btn-secondary"><i class="fa fa-close"></i></button>
                </div>
              </div>
            </div>
            <div class="form-group">
              <div class="input-group">
                <input type="email" placeholder="Invitee #01 email" class="form-control">
                <div class="input-group-append">
                  <button type="button" class="btn btn-secondary"><i class="fa fa-close"></i></button>
                </div>
              </div>
            </div>
            <div class="form-group">
              <div class="input-group">
                <input type="email" placeholder="Invitee #01 email" class="form-control">
                <div class="input-group-append">
                  <button type="button" class="btn btn-secondary"><i class="fa fa-close"></i></button>
                </div>
              </div>
            </div>

            <div class="form-group row">
              <div class="col-12">
                <div class="i-checks">
                  <input id="checkboxCustom1" type="checkbox" value="" class="checkbox-template">
                  <label for="checkboxCustom1">Remember the invitees for the next time I visit</label>
                </div>
              </div>
            </div>

            <div class="form-group" class="clearfix">
              <input type="submit" value="Add invitee" class="btn btn-secondary float-right">
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-6  col-sm-12">
        <div class="block">
          <div class="title">
            <strong class="d-block">Refinement content</strong>
            <span class="d-block">Enter information about the content you want to refine</span>
          </div>
          <div class="block-body">
            <div class="form-group">
              <input type="text" placeholder="PBI Title" class="form-control">
              <input type="text" placeholder="information" class="form-control">
              <input type="text" placeholder="URL" class="form-control">
            </div>
            <div class="form-group">
              <input type="text" placeholder="PBI Title" class="form-control">
              <input type="text" placeholder="information" class="form-control">
              <input type="text" placeholder="URL" class="form-control">
            </div>
            <div class="form-group">
              <input type="text" placeholder="PBI Title" class="form-control">
              <input type="text" placeholder="information" class="form-control">
              <input type="text" placeholder="URL" class="form-control">
            </div>
            <div class="form-group" class="clearfix">
              <input type="submit" value="Signin" class="btn btn-secondary float-right">
            </div>
          </div>
        </div>
      </div>
    </div>


  </div>
</section>